<div>
    <div class="wrapper-content">
        <h2 class="content-title">case heading</h2>
        <p class="content-text fst-italic">
         case intor
        </p>
    </div>

    <div class="blog-layout">
        <div class="blog-image">
            <img class="case-img"
                src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHByb2plY3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60"
                alt="Digital Transformation Project" />
        </div>

        <div class="blog-content">
            <div class="case-explanation">
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores reprehenderit dolore voluptatibus delectus, officiis natus voluptates quis aspernatur ullam nam nesciunt eos labore odit qui officia voluptate, ad minima? Dolore?
                Aut odio quis quae et deleniti distinctio sequi ad asperiores! Nesciunt distinctio tempore vitae dolore adipisci ratione non est temporibus recusandae. Enim blanditiis placeat sint quaerat deleniti voluptate modi sit?
                Possimus, minima harum et, ipsum minus officiis reiciendis nostrum aperiam laboriosam mollitia aliquid? Voluptates quaerat illo assumenda enim dolorem eius iste. Sunt accusamus maiores placeat earum velit, quam iste porro.
                Consequatur incidunt possimus sapiente dolorum officiis exercitationem labore beatae. Enim, neque ratione! Ea, alias aliquid? Autem eaque asperiores at aut? Cum doloremque alias vitae soluta hic non enim natus neque.
                Velit, dicta? Neque, dolorum quaerat aliquam perspiciatis enim ea dolores autem voluptatibus dignissimos ipsam fugiat nesciunt iste eveniet cumque labore officiis similique quis vitae suscipit quo eaque dolor, repudiandae provident?
                Dicta blanditiis natus accusantium est velit, rem eveniet vero ad unde, in ea corrupti praesentium inventore neque quae quaerat fuga iure nam earum. Veritatis cumque saepe corporis voluptatum eius eos!
                Maiores quam fugiat culpa? Tempora voluptas eveniet inventore necessitatibus laborum! Recusandae quae eos quaerat optio dolores unde libero itaque? Praesentium, laudantium dolores. Nostrum cumque consequatur est earum adipisci architecto quae?
                Dolorem culpa atque molestias quae! Ducimus omnis quam atque ad voluptates temporibus nesciunt maxime deleniti quo, veritatis dolore culpa corporis dolorem? Nisi accusantium laudantium dolor impedit quos quis, ea officia.
                Libero atque laudantium soluta consequuntur voluptas nostrum ipsam perferendis quasi sapiente numquam quisquam labore rem iste quos vero eius sed accusamus obcaecati asperiores facilis molestias, temporibus esse? Illum, atque autem?
                Aperiam enim asperiores accusamus voluptate tempore rerum architecto harum. Voluptas, quo impedit reprehenderit incidunt minus aliquid repellat voluptatem temporibus delectus dignissimos, quisquam nostrum dolores consequatur sit rem deserunt assumenda ut?
                </p>

                <p>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, omnis earum. Cupiditate tempore atque debitis rerum porro neque id amet corrupti voluptatum nemo explicabo impedit soluta repellat totam, inventore mollitia.
                </p>

                <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nam inventore quae asperiores repellat sequi numquam illo mollitia vitae consequatur aliquam aspernatur delectus labore provident dolores, aliquid, soluta iste. Ipsam.
               Ea consequuntur iure omnis aperiam numquam aut quam modi recusandae, ullam ipsam. Accusantium, soluta nam! Sequi odit natus recusandae rem laudantium ea deleniti est reprehenderit exercitationem! Voluptate itaque fugit animi.
               Magni quis ducimus, laborum quisquam incidunt accusantium? Laudantium voluptas, possimus sequi perferendis vitae maxime dolore soluta odit. Facere porro, aliquid vitae, nam soluta nostrum rerum, minus libero fugit dignissimos quisquam!
               Omnis veniam eveniet cum pariatur iure soluta recusandae sequi repellat libero deserunt ut fuga voluptatibus tempora, magnam necessitatibus quod sapiente quidem, amet error iste ratione tempore ad! Amet, optio adipisci!
               A ipsam tempora reprehenderit ab nemo praesentium pariatur voluptate! Modi, iusto aliquam culpa quae nesciunt quod. Magnam doloribus cum non molestias? Distinctio illo minima sit suscipit totam sint esse obcaecati.
                </p>
            </div>
        </div>
    </div>
</div