<div class="our-client">
  <div class="wrapper-content">
    <h2 class="content-title">Our Clients</h2>
    <p class="content-text">
      We offer extensive medical procedures to outbound and inbound patients.
    </p>
  </div>
  <div class="marquee-wrapper">
    <div class="marquee-content">
      {% for client in clients %}
      <div class="logo-card google-glow">
        <img
          src="{{ client.img.url }}"
          alt="{{ client.name }} Logo"
          class="logo-image"
        />
      </div>
      {% endfor %}  
      
    </div>
  </div>
</div>
